/* ---------------------------[main]------------------------------ */
.main-container{
  max-width: 1500px; 
  margin: auto;
  width: 100%;
}

/* ---------------------------[Layout]------------------------------ */

.navbar-layout{
  background-color: #00a1c6;
}

.footer-container{
  color: #005669;
  text-align: center;
  margin-top: 500px;
  padding: 30px 10px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.footer-container .icons{
  font-size: 30px;
  display: flex;
  gap: 10px;
}


/* -------------------------[User - productCard]------------------------- */
.products-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
  margin-bottom: 80px;
  width: 100%;
}

.product-card{
  cursor: pointer;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
}

.product-card:hover{
  transform: scale(1.03,1.03);
}

.product-name{
  font-weight: 500;
}

.product-price{
  font-weight: 800;
  margin-top: 6px;
  color: black;
}

.card-content-container {
  height: 170px;
  overflow: hidden;
}


/* -------------------------[Admin - Analytics]------------------------- */
.analytics-container {
  max-width: 1000px;
  min-width: 370px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.300);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(70vh - 10px);
  overflow: hidden;
  background-color: #ffffff;
}


/* -------------------------[User - Cart]------------------------- */
.container_table {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.container_table_form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:70px;
}

.encabezado_inventario{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.encabezado_inventario button {
  margin: 10px 40px;
}

.encabezado_inventario div:nth-child(2) {
  margin: 10px 80px;
}


@media (min-width: 768px) {
  .encabezado_inventario div:nth-child(2) {
      margin-left: 266px;
  }
}

@media (max-width: 768px) {
  .encabezado_inventario button {
      padding: 8px 16px;
      font-size: 14px;
      margin-left: 40px;
  }

  .encabezado_inventario div:nth-child(2) {
      margin-left: 40px;
  }
}

.encabezado-precio {
  margin: 10px 40px;
}

b{
  margin:10px;
}

.tabla_carro{
  text-align: center;
  width: 85% !important;
}