.car{
    padding: 10px;
    margin: 10px;
    position: fixed;
    top: 70px;
    right: 10px;
    z-index: 9999;
}

.car button{
    background-color: #cd4631;
}


.car button:hover {
    background-color: #cd4631;
    transform: scale(1.05);
    cursor: pointer;
}

/* Estilos para el campo de búsqueda */
.containerSearch input[type="number"] {
    width: 500px;
    padding: 10px;
    margin: 8px;
    border: 2.5px solid #ddd;
    border-radius: 15px;
    font-size: 16px;
    background-color:rgb(250, 250, 250);
    outline-color: #00a2c641;
}

/* Estilos para el botón de búsqueda */
.containerSearch button[type="submit"] {
    background-color: #00a1c6;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
}

/* Estilos para el botón de búsqueda al pasar el cursor sobre él */
.containerSearch button[type="submit"]:hover {
    background-color: #007792;
}

/* Estilo para centrar la barra de búsqueda */
.containerSearch{
    display: flex;
    justify-content: center;
    align-items: center;  
    height: 40vh;
}