.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 50px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1); /* color de fondo gris translúcido */
}

.form-container {
    background-color: #fff; /* color de fondo blanco para el formulario */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* sombra para el formulario */
}