.container_table {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_table_form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:70px;
}


.encabezado_inventario{
    font-size: 19px;
    margin: 20px;
    padding: 10px;
    justify-content: space-between;
    color:black
}

b{
    margin:10px;
}

.tabla_carro{
    text-align: center;
    width: 85% !important;
}


